.suppliers-by-region{
    h2{
        margin-bottom: 10px;
        font-weight: 600;
        font-size: 24px;
    }
    .region-container{
       display: grid;
    
       grid-template-columns: repeat(5,1fr);

       @media screen and (max-width: 1024px){
        grid-template-columns: repeat(3,1fr);
       }
       @media screen and (max-width:460px){
        grid-template-columns: repeat(2,1fr);
       }
        .region{
            display: flex;
            width: 200px;
            margin-bottom: 20px;
            display: flex;
            align-items: center;
    
            img{
                width: 28px;
                height: 20px;
                margin-right: 10px;
            }
            
            
            h2, p{
                margin: 0;
                padding: 0;
            }
           
        }
        
    }
}